input[type=text], input[type=url], textarea {
  color: #444; }

input[type=text], input[type=url], input[type=range] {
  width: 200px;
  height: 18px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #e8e8e8; }

textarea {
  width: 200px;
  height: 130px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #e8e8e8; }

select {
  width: 210px;
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
  background: url("downarrow.png") 190px 50% no-repeat white;
  border: 1px solid #e8e8e8;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

input[type=submit] {
  width: 70px;
  height: 30px;
  background: #fff;
  color: #604848;
  border: 1px solid #604848; }

input[type=submit]:active {
  color: #789048; }

input[type=range] {
  padding: 0;
  width: 210px; }

input[type=text]:focus, input[type=url]:focus, textarea:focus {
  border: 1px solid #789048;
  outline: none; }

input#term {
  position: absolute;
  top: 7px;
  right: 0; }
