$white: #f2f2f2;
$dark_green: #607848;
$light_green: #789048; // logo
$brown: #604848;

input[type=text], input[type=url], textarea {
  color:#444;
}

input[type=text], input[type=url], input[type=range] {
  width: 200px;
  height:18px;
  padding:5px;
  margin-bottom:10px;
  border:1px solid #e8e8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

textarea {
  width: 200px;
  height: 130px;
  padding:5px;
  margin-bottom: 10px;
  border:1px solid #e8e8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

select {
  width:210px;
  height:30px;
  padding:5px;
  margin-bottom:10px;
  background:url('downarrow.png') 190px 50% no-repeat #fff;
  border:1px solid #e8e8e8;
  -webkit-appearance:none; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

input[type=submit] {
  width:70px;
  height:30px;
  background:#fff;
  color:$brown;
  border:1px solid $brown;
}

input[type=submit]:active {
  color:$light_green;
}

input[type=range] {
  padding:0;
  width:210px;
}

input[type=text]:focus, input[type=url]:focus, textarea:focus {
  border:1px solid $dark_green;
  outline:none;
}

input#term {
  position:absolute;
}
