@font-face {
  font-family: 'museosans';
  src: url("museosans.eot");
  src: url("museosans.eot?#iefix") format("embedded-opentype"), url("museosans.woff") format("woff"), url("museosans.ttf") format("truetype"), url("museosans.svg#") format("svg");
  font-weight: normal;
  font-style: normal; }
